<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD68KFs1oClNunjL2KEctN7uCRHz0T_tvc</string>
	<key>GCM_SENDER_ID</key>
	<string>578296156300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.jm.bookingSonata</string>
	<key>PROJECT_ID</key>
	<string>booking-sonata</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-sonata.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578296156300:ios:868b9214e73de091716ba9</string>
</dict>
</plist>